@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

.App {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  display: block;
}

section {
  height: 100%;
  min-height: 100vh;
  width: 100%;  
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex1 {
  flex: 1;
}

.justify {
  text-align: justify;
}

.marginTop {
  margin-top: 4rem;
}

.background {  
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.organicoTitle {
  color: white;
  text-shadow: 2px 2px 4px black, -2px -2px 80px black;
}

.xlarge {
  font-size: 5rem;
}

.large {
  font-size: 2rem;
}

.theme-color {
  background: #8d273e;
}

.light-theme-color {
  background: rgba(141, 39, 62, 0.95);
}

.navbar {
  padding: 1rem;
}

.marginTitle {
  margin-right: 45vw;
  margin-top: 30vh;
}

.cardShadow .card {
  box-shadow: 20px 20px 50px 2px grey;
  transition: transform .6s;
}

.cardShadow .card:hover {
  transform: scale(1.05);
}
.blur {
  background: transparent;
  backdrop-filter: blur(3px);
}


.padding, .space {
  padding: 2rem;
}

.imgProfile {
  border-radius: 50%;
}



.followUs {
    padding-top: 6rem;    
  }

.imgSocial {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgSocial img {  
  width: 5rem;
  height: 5rem;
  background-size: 75rem;
  border: 0.875rem solid black;
  border-radius: 50%;
  padding: 0.75rem;
  filter: invert(100%);
  background: #72d8c1;
}

.fading {
  position: relative;
  margin: 0;
  width: 100%;
  height: 15vh;
  top: 0px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.round {
  border-radius: 1.875rem;
}

.round:focus {
  background-color: rgba(226, 224, 224, 0.507);
}

.form-control.is-invalid {
  background-image: none;
  border: 1px solid #8d273e;
}

.btn-danger {
  background-color: #8d273e;
  border-color: #8d273e;
}

/*Description Section*/
.description {
  margin: 6rem 0;
  font-size: 1.5rem;  
}

.description p {
  margin: 3rem;
}

.description-img1 {
margin: 3rem;
float: left;
}

.description-img2 {
  margin: 3rem;
  float: right;
  }


.footer ul {   
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.fixed {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  
  /*color: antiquewhite;
  text-shadow: 1px 1px 2px black;*/
  background-color: rgba(255, 235, 205, 0.199);
}

.profile {
  background-color: aquamarine;
  padding: 7rem;
  height: 80vh;
}

.ads {
  background-image: linear-gradient(#FFF 0%, #8d273e 50%, #FFF 100%);
  max-width: 15vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ads iframe {
  min-height: 25vh;
  border: none; 
  
}

.menu {
  
  max-width: 15vw;
  padding: 3rem; 

}

.menu h2 {  
  border-bottom: 3px solid #8d273e;
  margin-bottom: 2.5rem;
  border-bottom-width: .3rem;
}

.menu h4 {  
  border-bottom: 1px solid #8d273e;  
  margin-bottom: 1.5rem;
}

